:root{
    --menu-border-color: #4895EF;
    --background-color: #FFFFEB;
    --text-color: black;
    --active: #D62828;
    --menu-text-color: #F72585;
    --menu-text-hover-color: #4CC9F0;
    --button-background-color: #FF80BA;
    --button-background-color-hover: #8DAFFF;
}

@media (prefers-color-scheme: dark) {
    :root{
        --menu-border-color: #CBB2FF;
        --background-color: #051739;
        --text-color: white;
        --active: #F77F00;
        --menu-text-color: #FF6CF3;
        --menu-text-hover-color: #83D0FF;
        --button-background-color: #427BFE;
        --button-background-color-hover: #C6865F9FF;
    }
}

body, html, #root{
    min-height: 100vh;
}

.App{
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

main{
    flex: 1;
    padding: 14px;
}

footer{
    border-top: 1px solid var(--menu-border-color);
    padding: 10px;
    text-align: center;
}